body {
  background-color: rgb(173, 216, 230);
}

.content__border {
  border: 2px solid rgb(25, 24, 53);
  margin: 0px 10px 10px 10px;
  background-color: rgb(254, 239, 220);
}
  
h1 {
    text-align: center;
    text-decoration: underline;
  }
  
.navbar {
    background-color: #50B2C0;
  }
  
.navbar__link {
    text-decoration: none;
  }
  
.navbar__item {
    border: 2px solid rgb(25, 24, 53);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
  }
.navbar__item:hover {
    background-color: #FAAA8D;
  }
  
.navbar__item:first-child {
    margin-right: 65%;
    margin-left: 0%;
  }

.navbar__item:nth-child(2) {
    margin-right: 2%;
  }

.listPrinter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  